{% extends 'servicio/base.html' %}
{% load static %}
{% block title %}Lista de Reportes{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<div class="datatable-container">
    <table id="reporteTable" class="obra-table">
        <thead>
            <tr>
                <th><input type="text" placeholder="Referencia" /></th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Sucursal</th>
                <th>Clasificación</th>
                <th>Equipo</th>
                <th>Reporte</th>
                <th>Falla</th>
                <th>Estatus</th>
                <th>Urgencia</th>
                <th>Observaciones</th>
            </tr>
        </thead>
        <tbody>
            {% for reporte in reportes %}
                <tr class="glass-row">
                    <td>{{ reporte.referencia }}</td>
                    <td><a href="{% url 'modificar_reporte' reporte.id %}">{{ reporte.fecha|date:'Y/m/d' }}</a></td>
                    <td>{{ reporte.cliente }}</td>
                    <td>{{ reporte.sucursal }}</td>
                    <td>{{ reporte.clasificacion }}</td>
                    <td>{{ reporte.equipo }}</td>
                    <td>{{ reporte.reporte }}</td>
                    <td>{{ reporte.falla }}</td>
                    <td>
                        {% if reporte.estatus == True %}
                            Cerrado
                        {% else %}
                            Abierto
                        {% endif %}
                    </td>
                    <td>{{ reporte.urgencia }}</td>
                    <td>{{ reporte.observaciones }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div style="margin-left: 15px;">
    <a href="{% url 'crear_reporte' %}" class="btn">Crear Reporte</a>
</div>

<script>
    $(document).ready(function() {
        var table = $('#reporteTable').DataTable({
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
            },
            "scrollY": "55vh",
            "scrollCollapse": true,
            "paging": false, 
            "info": false,
            "deferRender": true
        });

        table.columns().every(function() {
            var that = this;

            $('input', this.header()).on('keyup change', function() {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
    });
</script>
{% endblock content %}


