{% extends 'servicio/base.html' %}
{% load static %}
{% block title %}Gestion de Reportes CBT{% endblock %}


{% block content %}
  <div class="container">
    <h3>Gestion de Reportes CBT</h3>
    <p>Formulario para el registro de reportes</p>
    <div class="content">
        <div class="form-scroll">
            <form method="post">
            {% csrf_token %}

            <div class="user-details">
              {% for field in form.visible_fields %}
                <div class="input-box">
                  <span class="details">{{ field.label }}</span>
                  {{ field }}
                  {% if field.help_text %}<small>{{ field.help_text }}</small>{% endif %}
                  {% for error in field.errors %}<div class="error">{{ error }}</div>{% endfor %}
                </div>
              {% endfor %}
            </div>

            <div class="button">
              <input type="submit" value="Enviar">
            </div>

            </form>
        </div>
    </div>
  </div>
{% endblock %}