{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>{% block title %}Gestión de Proyectos CBT{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% block extra_css %}{% endblock %}
    
    {% block extra_style %}
        <style>
            body {
                background-image: url("{% static 'img/cover.jpeg' %}");
                background-size: 100% auto;
                background-position: top;
                background-repeat: no-repeat;
                background-attachment: fixed;

            }
        </style>
    {% endblock %}
</head>
<body>
    {% block navbar %}
        {% include 'project_app/navbar.html' %}
    {% endblock %}
    {% block content %}
    <!-- El contenido específico de cada página irá aquí -->
    {% endblock %}
    {% block extra_js %}{% endblock %}
</body>
</html>