{% extends "project_app/base_wizard.html" %}
{% load static %}

{% block wizard_content %}
    <style>
      /* Imágenes de esquina (detrás del glass) */
      .corner-img {
        position: absolute;
        z-index: 1;
        pointer-events: none;
        opacity: 0.5; /* ajustar visibilidad */
        height: auto;
      }
      .corner-img.bottom-left { right: 0; bottom: 0px; transform: scaleX(-1); width: 350px;}
      .corner-img.top-right { right: -80px; top: -10px; transform: scaleX(-1); width: 280px; }

      /* Asegurar que el contenido del formulario quede por encima del glass */
      .form-content { position: relative; z-index: 3; padding: 24px; }

      /* Ajustes responsivos */
      @media (max-width: 768px) {
        .corner-img { max-width: 120px; opacity: 0.2; left: -12px; bottom: -12px; right: -12px; top: -12px; }
      }

      .btn {
        z-index: 5;
      }
    </style>



    <div class="container">
            <img src="{% static 'img/tuberias.png' %}" alt="tuberias" class="corner-img bottom-left">


        <h3>Paso 3: Tuberias</h3>
        <p>Selecciona la dimension, el tipo y la cantidad de tubos requeridos en tu proyecto</p>

        <div class="content">
            <div class="user-details" style="overflow-y: auto; max-height: 400px;"> 
                {% for field in form %}
                    
                    <div style="display: flex; margin-bottom: 15px; align-items: center;">

                        <div class="input-box" style="width: 300px">
                            <span class="details">{{ field.label_tag }}</span>
                        </div>
                        
                        <div class="input-box" style="width: 100px">
                            {{ field }}
                        </div>
                        
                    </div>
                {% endfor %}
            </div>
            <div class="button-group" style="margin-top: 20px; display: flex; justify-content: space-between;">
                
                {% if wizard.steps.prev %}
                <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="btn btn-secondary">
                    &laquo; Atrás
                </button>
                {% else %}
                <div></div> {# Espacio para mantener la alineación si no hay botón Atrás #}
                {% endif %}

                <button type="submit" class="btn btn-primary">
                    {% if wizard.steps.next %}Siguiente &raquo;{% else %}Finalizar y Guardar{% endif %}
                </button>
                
            </div>
        </div>
    </div>
{% endblock %}