{% extends 'project_app/base.html' %}
{% load static %}
{% block title %}Gestion de Proyectos CBT{% endblock %}


{% block content %}
  <div class="container">
    <h3>{% if form.instance.pk %}Editar Fase{% else %}Agregar Nueva Fase{% endif %}</h3>
    <div class="content">
      <form method="post">
        {% csrf_token %}
        <div class="user-details">
            <div class="input-box">
                <span class="details">Nombre de la Fase</span>
                {{ form.nombre }}
            </div>
            
            <div class="input-box">
                <span class="details">Presupuesto Asignado</span>
                {{ form.presupuesto_asignado }}
            </div>
            
            <div class="input-box">
                <span class="details">Costo de Mano de Obra (Si aplica)</span>
                {{ form.costo_mano_de_obra }}
            </div>
        </div>
        
        <div class="button">
          <input type="submit"></input>
          <a href="{% url 'obra-detail' pk=view.kwargs.pk %}">Cancelar</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}