{% extends 'project_app/base.html' %}
{% load static %}
{% block title %}Diagrama de Gantt{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/frappe-gantt/0.6.1/frappe-gantt.min.css" />
{% endblock %}

{% block content %}
    

    <div class="gantt-container">
        <h2 class="title"> {{ obra_nombre }} - Project</h2>
        <svg id="gantt-chart"></svg>
    </div>

{% endblock %}

{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/frappe-gantt/0.6.1/frappe-gantt.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const obraPk = "{{ obra_pk }}";
            
            fetch(`/proyectos/api/gantt_data/${obraPk}/`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`Error en la solicitud: ${response.status}`);
                    }
                    return response.json();
                })
                .then(data => {
                    const gantt = new Gantt("#gantt-chart", data, {
                        show_today_line: true,
                        go_to_today: true,
                        header_height: 60,
                        bar_height: 30,
                        padding: 18,
                        view_modes: ['Day', 'Week', 'Month'],
                        view_mode: 'Day', 
                        column_width: 2,
                        step: 1,
                        date_format: 'YYYY-MM-DD',
                        language: 'es',
                        show_today_line: true,
                    });
                    gantt.go_to_today();
                    
                })
                .catch(error => console.error('Error al obtener los datos:', error));
        });
    </script>
{% endblock %}



   