
{% extends 'project_app/base.html' %}
{% load static %}
{% block title %}Lista de Obras{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

    <a href="{% url 'material-create' %}" class="btn">Crear Nuevo Material</a>
    
    <form method="post" action="{% url 'material-list' %}">
        {% csrf_token %}
        <div class="datatable-container">
            <table id="materialTable" class="material-table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Unidad</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Nuevo Precio</th>
                    </tr>
                </thead>
                <tbody>
                    {% for material in materiales %}
                    <tr>
                        <td>{{ material.nombre }}</td>
                        <td>{{ material.unidad }}</td>
                        <td>{{ material.descripcion }}</td>
                        <td>$ {{ material.costo_unitario|default_if_none:'0.00'|floatformat:'2' }}</td>
                        <td>
                            <input type="number" step="0.1" name="cost-{{ material.pk }}" class="cost-input">
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button type="submit" name="update_costs" class="btn">Guardar Costos</button>
    </form>
    

    <script>
        $(document).ready(function() {
            $('#materialTable').DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
                }
            });
        });
    </script>
{% endblock %}