{% extends 'project_app/base.html' %}
{% load static %}
{% block title %}Materiales{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<form method="post" action="{% url 'material-list' %}">
    {% csrf_token %}
    <div class="datatable-container">
        <table id="materialTable" class="obra-table">
            <thead>
                <tr>
                    <th><input type="text" placeholder="CODIGO" /></th>
                    <th>NOMBRE</th>
                    <th>UNIDAD</th>
                    <th>CATEGORIA</th>
                    <th>PRECIO</th>
                    <th>NUEVO PRECIO</th>
                </tr>
            </thead>
            <tbody>
                {% for material in materiales %}
                <tr>
                    <td>{{ material.codigo }}</td>
                    <td>{{ material.nombre }}</td>
                    <td>{{ material.unidad }}</td>
                    <td>{{ material.familia }}</td>
                    <td>$ {{ material.costo_unitario|default_if_none:'0.00'|floatformat:'2' }}</td>
                    <td>
                        <input type="number" step="0.1" name="cost-{{ material.pk }}" class="cost-input">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div style="margin-left: 15px;">
        <button type="button" onclick="openModal('materialModal')" class="btn">Crear Material</button>
        <button type="submit" name="update_costs" class="btn">Guardar Costos</button>
    </div>

</form>

<div id="materialModal" class="modal">
    <div class="modal-content">
        <span class="close-btn" onclick="closeModal('materialModal')">&times;</span>
        
        <div class="container-modal">
            {% include 'project_app/material_form.html' with form=material_form %}
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        var table = $('#materialTable').DataTable({
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
            },
            "scrollY": "54vh",
            "scrollCollapse": true,
            "paging": false, 
            "info": false,
            "deferRender": true
        });

        table.columns().every(function() {
            var that = this;

            $('input', this.header()).on('keyup change', function() {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
    });

    function openModal(modalId) {
        document.getElementById(modalId).style.display = 'block';
    }

    function closeModal(modalId) {
        document.getElementById(modalId).style.display = 'none';
    }

    // Cerrar el modal al hacer clic fuera de él
    window.onclick = function(event) {
        const modal = document.getElementById('materialModal');
        if (event.target == modal) {
            modal.style.display = 'none';
        }
    }
</script>
{% endblock content %}