<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid d-flex align-items-center justify-content-between">
    <a class="navbar-brand" href="#">CBT</a>
    <ul class="navbar-nav flex-row flex-nowrap align-items-center" style="gap: 1.5rem;">
      <li class="nav-item"><a class="nav-link" href="{% url 'obra-list' %}">Gestión de Obras</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'material-list' %}">Gestion de Materiales</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'personal-list' %}">Centros de Servicio</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'calculadora' %}">Herramientas</a></li>
      <li class="nav-item">
        <form id="logout-form" class="logout-form" action="{% url 'logout' %}" method="post" style="display: inline;">
          {% csrf_token %}
          <button type="submit" class="nav-link btn btn-link logout-button">Cerrar Sesión</button>
        </form>
      </li>
    </ul>
  </div>
</nav>