{% extends 'project_app/base.html' %}
{% load static %}
{% block title %}Gestion de Proyectos CBT{% endblock %}


{% block content %}
  <div class="container">
    <h3>{% if wizard.steps.prev %}Paso 1: Datos Generales de la Obra{% else %}Crear Nueva Obra{% endif %}</h3>
    <div class="content">
      <form method="post">
        {% csrf_token %}
        {{ wizard.management_form }}
        
        <input type="hidden" name="wizard_next_step" value="{{ wizard.steps.next }}">
        
        <div class="user-details">
          
          <div class="input-box">
            <span class="details">Nombre de la Obra</span>
            {{ form.nombre }}
          </div>

          <div class="input-box">
            <span class="details">Dirección</span>
            {{ form.direccion }}
          </div>
          
          <div class="input-box">
            <span class="details">Descripción</span>
            {{ form.descripcion }}
          </div>

          <div class="input-box">
            <span class="details">Presupuesto Inicial</span>
            {{ form.presupuesto_inicial }}
          </div>

          <div class="input-box">
            <span class="details">Centro de Servicio</span>
            {{ form.centro_servicio }}
          </div>

          <div class="input-box">
            <span class="details">Ingeniero Encargado</span>
            {{ form.ingeniero_encargado }}
          </div>

          <div class="input-box">
            <span class="details">Fecha de Inicio</span>
            {{ form.fecha_inicio }}
          </div>

          <div class="input-box">
            <span class="details">Fecha de Fin (Estimada)</span>
            {{ form.fecha_fin_estimada }}
          </div>

          <div class="input-box">
            <span class="details">Toneladas de Frío</span>
            {{ form.toneladas_frio }}
          </div>
          
        </div>
        
        <div>
          <a href="{% url 'obra-list' %}" class="btn">Cancelar</a>
          <button type="submit" class="btn">Siguiente</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

