{% extends 'project_app/base.html' %}
{% load static %}
{% block title %}Lista de Obras{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<div class="datatable-container">
    <table id="obraTable" class="obra-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Presupuesto Inicial</th>
                <th>Presupuesto Ejecutado</th>
                <th>Avance Total</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for obra in obras %}
            <tr class="glass-row">
                <td>{{ obra.nombre }}</td>
                <td>{{ obra.descripcion }}</td>
                <td>${{ obra.presupuesto_inicial|floatformat:2 }}</td>
                <td>${{ obra.get_presupuesto_ejecutado|floatformat:2 }}</td>
                <td>{{ obra.porcentaje_avance|floatformat:2 }}%</td>
                <td>
                    <a href="{% url 'obra-detail' obra.pk %}">Ver Detalles</a> |
                    <a href="{% url 'obra-update' obra.pk %}">Editar</a> |
                    <a href="{% url 'obra-mediciones' obra.pk %}">Mediciones</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function() {
        $('#obraTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.11.5/i18n/es_es.json"
            }
        });
    });
</script>

{% endblock %}
