{% extends 'project_app/base.html' %}
{% load static %}
{% block title %}Gestion de Proyectos CBT{% endblock %}

{% block content %}
    <form class="form-login" method="post">
        <h3>{% if form.instance.pk %}Editar Obra{% else %}Crear Nueva Obra{% endif %}</h3>
        {% csrf_token %}
        {{ form.as_p }}
        <div class="btn-container">
            <button type="submit" class="btn">Guardar</button>
            <a href="{% url 'obra-list' %}" class="btn">Cancelar</a>
        </div>
    </form>
{% endblock %}
