{% extends 'project_app/base.html' %}
{% load static %}
{% block title %}Gestion de Proyectos CBT{% endblock %}


{% block content %}
  <div class="container">
    <h3>{% if form.instance.pk %}Editar Personal{% else %}Crear Nuevo Personal{% endif %}</h3>
    <div class="content">
      <form method="post">
        {% csrf_token %}
        <div class="user-details">

          <div class="input-box">
            <span class="details">RIF</span>
            {{ form.rif }}
          </div>
          
          <div class="input-box">
            <span class="details">Nombre de la Empresa</span>
            {{ form.empresa }}
          </div>

          <div class="input-box">
            <span class="details">Nombre del Resposable</span>
            {{ form.nombre }}
          </div>

          <div class="input-box">
            <span class="details">Especialidad</span>
            {{ form.especialidad }}
          </div>
          
          <div class="input-box">
            <span class="details">Teléfono</span>
            {{ form.telefono }}
          </div>
          
          <div class="input-box">
            <span class="details">Teléfono Alternativo</span>
            {{ form.telefono_alternativo }}
          </div>

          <div class="input-box">
            <span class="details">Correo Electrónico</span>
            {{ form.email }}
          </div>

          <div class="input-box">
            <span class="details">Dirección</span>
            {{ form.direccion }}
          </div>
        </div>
        
        <div class="button">
          <input type="submit" value="Guardar Personal"></input>
          <a href="{% url 'personal-list' %}">Cancelar</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
